@font-face {
    font-family: 'Apple Chancery';
    src: url('Apple Chancery.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bookman';
    src: url('Bookman.otf');
}
html {
    width: 100%;
    cursor: url('Graphics/defaultmouse.png'), default;
}

a, button, summary {
    cursor: url('Graphics/hovermouse.png'), pointer;
}

body {
    width: 800px;
    height: 100px;
    margin: auto;
    display: grid;
    
    background-color: #f2f2f2;
    grid-template-columns: min-content auto;
}

main {
    font-family: 'Bookman';
}

hgroup {
    font-family: 'Apple Chancery', Arial, sans-serif;
    h1 {
        margin: 0px;
        font-size: 80px;
    }
    p {
        margin-left: 10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 242, 199);
  color: #584100;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}