@font-face {
    font-family: 'Apple Chancery';
    src: url('Apple Chancery.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bookman';
    src: url('Bookman.otf');
}
html {
    cursor: url('Graphics/defaultmouse.png'), default;
}

a, button, summary {
    cursor: url('Graphics/hovermouse.png'), pointer;
}

body {
    max-width: 680px;
    width: 100%;
    margin: auto;
    display: grid;
    height: 100vh;
    background-color: #f2f2f2;
    grid-template-columns: min-content 100%;
}

main {
    width: 90%;
    font-family: 'Bookman';
    height: 100px;

}

hgroup {
    font-family: 'Apple Chancery', Arial, sans-serif;
    h1 {
        margin: 0px;
        font-size: 80px;
    }
    p {
        margin-left: 10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }
}